

.Select{
  width:200px;
  height:200px;
  border:1px solid rgb(169, 169, 169);
  float: left;
  margin: 10px;
  cursor:pointer;
  transition: 0.6s;
}

.Select img{
  width:100%;
  height:100%;
}

.Select:after{
  content: " (" attr(band)")";
}

.Select:hover{
  background: #ba6565;
  transform:scale(1.1);
}

.Selected{
  background:#ba6565;
  transform:scale(1.1);
}

.wrap{
  width:400px;
  height:auto;
  padding:20px;
  background: #f1f1f1;
  border:1px solid rgb(169, 169, 169);
  margin: 10px;
  float: left;
}

.SelectWrap{
  float:none;
  margin:auto;
  width:1000px;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-direction: row;
}

.SelectMenu{
  clear: both;
  overflow: hidden;
  width:1000px;
  margin:auto;

}
.SelectMenu li:first-child{
  border-left: 1px solid rgb(169, 169, 169);
}
.SelectMenu li:last-child{
  border-right: 1px solid rgb(169, 169, 169);
}

.SelectMenu li{
  background: #f1f1f1;
  float:left;
  border-radius:10px 10px 0 0;
  list-style: none;
  padding: 10px;
  border-top: 1px solid rgb(169, 169, 169);
  text-decoration: none;
}

.SelectMenu li:hover{
  background: #d1d1d1;
}

.SelectMenu li a{
  cursor: pointer;
}

.error{
  color:red;
}

.Error{
  width: 400px;
  padding: 10px;
  margin: 10px auto;
  border:1px solid red;
  background: #f1f1f1;
  clear:both;
}

.Hidden{
  visibility: hidden;
}

.Overlay{
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  position: absolute;
  color:white;
  bottom:0;
  text-align: center;
  line-height: 100px;
  font-size:24px;
}

.Select:hover .Overlay , .Overlay:hover{
  visibility: visible;
}

.Overlay p{
  margin:0;
}

.Show{
  visibility: visible;
}

table{
  width:100%;
}

td{
  border-bottom:1px solid rgb(169, 169, 169);
}

.CalContainer{
  width:1000px;
  margin:auto;
  color:#222;
}

.Lattice{
  float: left;
  text-align: center;
  margin: 10px;
  font-size:16px;
}
.Options{
  width: 100%;
  clear:both;
  overflow:hidden;
}
.Width{
  width:100%;
}

#DoorHeight{
  width:100%;
}
